body {
  background-color: #fff;
  font-family: "Amaranth", sans-serif;
}

.menu {
  background-color: #fff;
  float: right;
  padding-right: 3rem;
  padding-top: 1rem;
  font-size: 2rem;
}

.menu a {
  display: inline-block;
  color: #000;
  padding: 1rem;
  text-decoration: none;
}

.menu a:hover {
  background-color: #fff;
  color: #f08a4b;
  font-style: italic;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 350px;
  left: 250px;
  width: 20%;
}

.hero {
  height: auto;
  max-width: 100%;
  align-self: center;
  margin: 2rem 3rem;
}

.button {
  border: none;
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.button :hover {
  background-color: #f08a4b;
  border-radius: 100%;
  fill: #fff;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  width: 100%;
}

.container .btn {
  position: absolute;
  top: 85%;
  left: 6%;
  background-color: #f08a4b;
  color: white;
  font-size: 1rem;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
}

.container .btn:hover {
  background-color: #fff;
  color: #000;
  font-style: italic;
}

h1 {
  font-size: 4rem;
  /* margin-left: 5%; */
  margin-top: 15%;
  margin-bottom: 5%;
}

.mail {
  text-decoration: none;
  color: #439775;
  font-size: 2rem;
}

.mail:hover {
  color: #f08a4b;
  font-style: italic;
}

.skill {
  float: right;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 0;
  max-width: 60%;
}

.flex-container {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
  flex-direction: row;
}

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
